*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    height: 700px;
    background-color: yellow;
    border: 1px solid red;
    display: grid;
 
/* 
    /*  layout:01 
    grid-template-rows: 30px 150px 400px 30px;
    grid-template-columns: 400px;
    /* grid template area 
    grid-template-areas: 
    "hd"  ye hai hamara first row
    "side" ye hai hamar second row
    "main" ye hai hamar third row
    "ft";   ye hai hamara fourth row

     */

     /* Layout 02 */

     /* grid-template-columns: 200px 400px;
     grid-template-rows: 30px 500px 30px;

     grid-template-areas: 
     "hd hd"  /*first row with 2 columns
     "side main"
     "ft ft";
        row-gap: 10px;
        column-gap: 20px; */

        /*layout 3  */

        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 250px 600px;

        grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "side main main main main main main main"
        "ft ft ft ft ft ft ft ft";


}
.box{
    border: 1px solid black;
    background-color: aqua; 
}
#header{
    grid-area: hd;

}
#footer{
    grid-area: ft;

}
#sidebar{
    grid-area: side;

}
#content{
    grid-area: main;

}

